<%  include ../partials/header %>


<div class="container">
<header class="jumbotron">
<div class="container">
 <h1> Welcome To YelpCamp</h1>
 <p>View our hand-picked camps from all over the world.</p>
 <a  class="btn btn-primary" href="/campgrounds/new">Add new Camp Ground!</a>
</div>

</header>

<!---
<div class="row text-center" style="display : flex ; flex-wrap:wrap;">
    <% campgrounds.forEach(function(campgrounds){ %>
    <div class="col-md-3 col-sm-6">
     <div class="thumbnail">
     <img src="<%= campgrounds.image %>" >
     <div class="caption">
     <h4>  <%= campgrounds.name %> </h4>
     </div>
     <p>
       <a href="/campgrounds/<%= campgrounds._id %>  " class="btn btn-primary" >
         More Information
       </a>
     </p>
     </div>
    </div>
  <%  }); %>
</div> <!-->



<div class="card" style="width: 40rem; margin: 0 auto; ">
  <% campgrounds.forEach(function(campgrounds){ %>
  <img src="<%= campgrounds.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> <%= campgrounds.name %>  </h5>
    <a href="/campgrounds/<%= campgrounds._id %> " class="btn btn-primary"> More Information</a>
  </div>
  
<%  }); %>
</div>

</div>


  <% include ../partials/footer %>

